

/*RESET*/
* {
  margin: 0px;
  padding: 0px;
  font-style: "Typographie";
}

/*NAVBAR*/
.nav-container{
  display: flex;
}

/*FORMS*/
.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 60vh;
  padding-top: 3%;
  padding-bottom: 4%;
}

#signupNext-container{
  min-height: 60vh;
  padding-top: 0;
}

#logo-signupNext{
  max-width: 50%;
}

.label-form{
  padding: 1vh;
  text-align: center;
}

.input-form{
  padding: 2vh;
  text-align: center;
  box-shadow: inset 0px 0px 0px grey;
}

.btn-form{
  padding: 2vh;
  text-align: center;
}

.link-form{
  display: flex;
  justify-content: center;
  font-weight: 200;
}

.text-label{
  font-weight: 200;
}

/*LOGO & TAGLINE*/
.logo{
  max-width: 70%;
  display: flex;
  margin: 0 auto;
}

#connect-Neighbour{
  padding-bottom: 7%;
  font-weight: 200;
  
}



/*FOOTER*/
.footer{
  padding: 7px; 
  background: rgb(75, 210, 214); 
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}